<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="login-suite-1">
    <test name="smoke">

        <parameter name="browserName" value="Chrome"/>
        <parameter name="urlLogin" value="https://auto3ss-staging7.gradesfirst.com/"/>
        <parameter name="userName" value="rhunt"/>
        <parameter name="userPassword" value="pass1234"/>

        <groups>
            <run>
                <include name="test_001"/>
                <!--<include name="test_002"/>-->
            </run>
        </groups>

        <classes>
            <class name="com.gap.atpractice.testSuites.LoginTestNG">
            </class>

        </classes>

    </test>

    <test name="factory">

        <parameter name="browserName" value="Chrome"/>
        <parameter name="urlLogin" value="https://auto3ss-staging7.gradesfirst.com/"/>
        <parameter name="executions" value= "10" />

        <groups>
            <run>
                <include name="test_003"/>
                <!--<exclude name="test_003" />-->
            </run>
        </groups>

        <classes>
            <class name="com.gap.atpractice.testNGFactory.TestFactory">
            </class>

        </classes>

    </test>
</suite>